
.icon-cogs:before { content: '\e800'; } /* '' */
.icon-play-circled2-1:before { content: '\e801'; } /* '' */
.icon-play-circled2:before { content: '\e802'; } /* '' */
.icon-fast-forward:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-volume-up:before { content: '\e805'; } /* '' */
.icon-volume-down:before { content: '\e806'; } /* '' */
.icon-volume-off:before { content: '\e807'; } /* '' */
.icon-volume-up-1:before { content: '\e808'; } /* '' */
.icon-resize-full-alt:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-left:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e80f'; } /* '' */
.icon-left-circled:before { content: '\e810'; } /* '' */
.icon-right-circled:before { content: '\e811'; } /* '' */
.icon-resize-small:before { content: '\e812'; } /* '' */
.icon-ccw-1:before { content: '\e813'; } /* '' */
.icon-fast-backward:before { content: '\e815'; } /* '' */
.icon-resize-full:before { content: '\e816'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-stop:before { content: '\f080'; } /* '' */