@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?537243');
  src: url('../font/fontello.eot?537243#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?537243') format('woff2'),
       url('../font/fontello.woff?537243') format('woff'),
       url('../font/fontello.ttf?537243') format('truetype'),
       url('../font/fontello.svg?537243#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?537243#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cogs:before { content: '\e800'; } /* '' */
.icon-play-circled2-1:before { content: '\e801'; } /* '' */
.icon-play-circled2:before { content: '\e802'; } /* '' */
.icon-fast-forward:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-volume-up:before { content: '\e805'; } /* '' */
.icon-volume-down:before { content: '\e806'; } /* '' */
.icon-volume-off:before { content: '\e807'; } /* '' */
.icon-volume-up-1:before { content: '\e808'; } /* '' */
.icon-resize-full-alt:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-left:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e80f'; } /* '' */
.icon-left-circled:before { content: '\e810'; } /* '' */
.icon-right-circled:before { content: '\e811'; } /* '' */
.icon-resize-small:before { content: '\e812'; } /* '' */
.icon-ccw-1:before { content: '\e813'; } /* '' */
.icon-fast-backward:before { content: '\e815'; } /* '' */
.icon-resize-full:before { content: '\e816'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-stop:before { content: '\f080'; } /* '' */